<!--------------------------------------------------------------------------------
-------  ProfileGetModal (Pgm)
-------
------- # Pgm, PgmBody, PgmContainer, PgmFilterValue, PgmFilterReset
--------------------------------------------------------------------------------->

<div class="modal fade" tabindex="-1" role="dialog" id="Pgm">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Wybór pacjenta</h4>
	  </div>
	  <div class="modal-body" id="PgmBody">
		<u>Szczegóły dyżuru:</u><br>
		<small>Data: </small><span id="PgmDetailsDate"></span><br>
		<small>Godzina: </small><span id="PgmDetailsTime"></span><br>
		<small>Specjalista: </small><span id="PgmDetailsPracownik"></span>
		<hr>
		<div class="input-group col-md-12">
			<input id="PgmFilterValue" type="text" class="form-control" placeholder="Szukana treść...">
			<span class="input-group-btn">
				<button id="PgmFilterReset" class="btn btn-danger" type="button">Wyczyść</button>
			</span>
		</div>
		<div id="PgmContainer"></div>
		<div id="PgmConfirm" style="display: none;">
			<hr>
			Wybrałeś pacjenta: <b><span id="PgmConfirmPacjent"></span><b><br><br>
			<button class="btn btn-xs btn-success" id="PgmConfirmButton">Kliknij tutaj, aby potwierdzić wybór</button>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--/////////////////////////////////////////////////-->