<!--------------------------------------------------------------------------------
-------  VisitDetailModal (Vdm)
-------
------- # Vdm, VdmTitle, VdmBody, VdmButton, VdmResult, VdmStatus
--------------------------------------------------------------------------------->

<div class="modal fade" tabindex="-1" role="dialog" id="Vdm">
  <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="VdmTitle"></h4>
	  </div>
	  <div class="modal-body" id="VdmBody">
			<label for="VdmStatus">Status wizyty</label>
			<select class="form-control" id="VdmStatus">
				<option value="PLA">Wizyta planowana</option>
				<option value="ZAP" selected>Wizyta odbyta</option> 
				<option value="ZAN">Wizyta nieodbyta</option>
			</select>
			<hr>
			<textarea name="VdmResult" id="VdmResult" rows="20" cols="80">
				
			</textarea>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-success" id="VdmButton">Zapisz zmiany</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>CKEDITOR.replace( 'VdmResult' );</script>

<!--/////////////////////////////////////////////////-->